html{
	background-color: gainsboro;
}
  header{
	background-color: #067d96;
	display: flex;
	font-size: 2em;
  }
  
  nav{
	background-color: #96ae7c;
	display: flex;
	color: white;
	height: auto;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
  }
  ul{
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
  }
  li{
	  display: inline;
	  float: left;
	  border-left: 1px solid snow;
	  border-right: 1px solid snow;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
label{
    padding: auto;
    margin-top: 4%;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
}
input,select,option {
    width: 50%;
    padding: 7px 15px;
    margin: 8px 0;
    box-sizing: border-box;
  }

#content {
	align-content: center;
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
	text-justify: auto;
	padding: auto;
	margin-bottom: 10%;
  }

#indexIMG {
	width: 20%;
  	height: auto;
	border-radius: 40%;
	float: left;
}
  