<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="../statics/css/index.css">
        <link rel="icon" type="image/png" sizes="32x32" href="../statics/media/favicon/logo.png">
        <title>Mascota/Paciente</title>
    </head>
    <body>
        <div id="res">Modificar Nombre</div>
        <div id="frm"></div>

        <div id="res1">Modificar edad</div>
        <div id="frm1"></div>

        <div id="res2">Modificar tipo</div>
        <div id="frm2"></div>

        <div id="res3">Modificar veterinario</div>
        <div id="frm3"></div>

        <div id="res4">Modificar diagnostico/div>
        <div id="frm4"></div>

        <div id="res5">Modificación procedimiento</div>
        <div id="frm5"></div>

        <div id="res6">Registrar Procedimiento</div>
        <div id="frm6"></div>
        
    </body>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../dynamics/js/mascota.js"></script>
</html>
